/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba($color: #000000, $alpha: 0.3); }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  min-height: 100vh; }

.ml-small {
  margin-left: 2rem; }

.mb-0 {
  margin-bottom: 0 !important; }

/**
*******************************************************
***********************TYPOGRAPHY**********************
*******************************************************
*/
.heading-primary {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.logo {
  height: 3.25rem; }

/**
*******************************************************
**************************SEARCH***********************
*******************************************************
*/
.search {
  display: flex;
  position: relative; }
  .search__input {
    padding: 1rem 2rem;
    border-radius: 100px;
    border: 1px solid var(--color-grey-light-4);
    background-color: var(--color-grey-light-3);
    width: 40rem;
    transition: all 0.3s ease-in-out; }
    .search__input:focus {
      width: 50rem;
      outline: none; }
  .search__button {
    border: none; }
  .search__icon {
    width: 2.25rem;
    height: 2.25rem;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    fill: var(--color-grey-dark-3); }

/**
*******************************************************
**********************USER NAVIGATION******************
*******************************************************
*/
.user_nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user_nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user_nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user_nav__icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user_nav__icon {
    fill: var(--color-grey-dark-3);
    width: 2.25rem;
    height: 2.25rem; }
  .user_nav__user {
    display: flex;
    align-items: center; }
    .user_nav__user--photo {
      width: 4rem;
      border-radius: 50%; }
    .user_nav__user--name {
      font-size: 1.6rem;
      font-weight: 600; }
  .user_nav__notification {
    position: absolute;
    right: 14px;
    top: 18px;
    color: white;
    font-weight: 500;
    background: var(--color-primary);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }

/**
*******************************************************
**********************SIDE NAVIGATION******************
*******************************************************
*/
.side-nav {
  margin-top: 3rem;
  list-style: none; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    z-index: 1; }
  .side-nav__icon {
    fill: currentColor;
    width: 2.25rem;
    height: 2.25rem; }

/**
*******************************************************
*************************COPYRIGHT*********************
*******************************************************
*/
.copyright {
  text-align: center;
  color: var(--color-grey-light-4);
  font-size: 1.6rem;
  padding: 1.5rem; }

/**
*******************************************************
**************************GALLERY**********************
*******************************************************
*/
.gallery {
  display: flex;
  align-items: center; }
  .gallery__image {
    width: 100%;
    display: block; }

/**
*******************************************************
**************************OVERVIEW**********************
*******************************************************
*/
.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  background-color: #fff; }

.star {
  display: flex;
  align-items: center; }
  .star__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-primary); }

.location {
  display: flex;
  align-items: center;
  margin-left: auto; }
  .location__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-primary); }

.ratings {
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  color: white; }
  .ratings__text {
    font-size: 2.2rem;
    font-weight: 600; }
  .ratings__count {
    font-size: 1.6rem; }

.btn-inline {
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: var(--color-primary);
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 0.2s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.description {
  background-color: #fff;
  border-radius: 3px; }
  .description__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    border-top: 1px solid var(--color-grey-light-3);
    border-bottom: 1px solid var(--color-grey-light-3); }
    .description__list--item {
      display: flex;
      align-items: center;
      flex: 0 0 50%; }
    .description__list--icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--color-primary); }
    .description__list--text {
      font-size: 1.6rem; }

.recommendation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem; }
  .recommendation__image {
    width: 4.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -12px; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  background-color: #fff;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem; }

.content {
  display: flex; }

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 20rem;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: 1 1 auto;
  min-height: 50rem; }

.details {
  padding: 2rem;
  display: flex; }

.description {
  flex: 0 0 60%;
  margin-right: 2rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
