.ml-small {
  margin-left: 2rem;

  @media screen and (max-width: $bp-smallest) {
    margin-left: 0.5rem;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-small {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}
